@import url("https://fonts.googleapis.com/css?family=Questrial");

html {
  height: 100%;
}

body {
  font-family: "Questrial", "sans-serif";
  margin: 0;
  height: 100%;
  background-color: #0c0c23;
}

#root {
  height: 100%;
}

.center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
}

#vis {
  width: 100%;
  height: 85vh;
}

.link {
  fill: none;
  stroke: #000;
}

.border {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #aaa;
}

.node {
  stroke: #fff;
}

#top-bar {
  margin-top:40vh;
  width: 100vw;
  padding-top: 5px;
  text-align: center;
  transition: 1000ms;
  height: 15vh;
}

#top-row {
  height: 100%;
}

div.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  margin-top: 10px;
  color: #c5d2e8;
}

h2.main-title {
  font-size: 2vw;
}

h6.main-title {
  font-size: 2vh;
}

.btn {
  font-size: 1.8vh;
}

#country-dropdown {
  width: 60%;
  margin: auto;
}

.chart-line {
  fill: none;
  stroke-width: 3;
}

.chart-line.selected {
  stroke-width: 8;
}

div.mytooltip {
  position: fixed;
  text-align: middle;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: rgba(43, 43, 43, 0.774);
  color: #c5d2e8;
}

#user-panel {
  text-align: center;
  color: #c5d2e8;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.user-icon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 5px auto;
  animation: breathe 3s infinite ease-in-out;
  transition: 200ms;
  font-size: 10px;
  line-height: 30px;
  color: #0c0c23;
}

.user-icon.selectable {
  cursor: pointer;
}

.user-icon.selectable:hover {
  border: solid rgb(0, 202, 0);
  border-width: 2px;
}

.user-icon.selected {
  border: solid rgb(0, 202, 0);
  border-width: 4px;
}

@keyframes breathe {
  0% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}

#instructions {
  border: #c5d2e8 1px solid;
  border-radius: 5px;
  opacity: 0;
  animation: fadein 2s 2s forwards;
  padding: 0 10px;
}

#controls {
  opacity: 0;
  animation: fadein 2s 2s forwards;
}

#root-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}